<html>

<head>
    <title>
        <%= locals.APPNAME %>
            <%= locals.VERSION %> - Home
    </title>
    <%- include('_inc_head') %>
        <link href="css/home.css" rel="stylesheet" />
</head>

<body>
    <div class="col-6 offset-3 mt-5">
        <div class="card" style="width: 100%;">
            <nav class="col-12 mt-1 mb-2 card p-1  ">
                <div class="row">
                    <div class="col-4 text-center">
                        <a href="/home"><span class="fa fa-home"></a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="/home/profile">Profile</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="logout"><span class="fa fa-lock"></span></a>
                    </div>
                </div>
            </nav>
            <div class="text-center">
                <img style="max-width: 300px;" class="card-img-top" src="../uploads/<%=locals.user.userpicture %>"
                    alt="Profile Picture">
                <div class="card-body">
                    <button class="btn btn-success"> <a style="color: white;" href="/home/upload">Upload Profile
                            Picture</a>
                    </button>
                    <button class="btn btn-info"> <a style="color: white;" href="/home">Ask a question</a> </button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>