nav {
    background: #fff;
    margin: auto;
    min-height: 70px;
    margin-top: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

nav a {
    padding: 25px;
    font-size: 20px;
    margin-top: 10px;
}

nav .col-4 {
    padding-top: 20px;
}

nav .col-4:first-child {
    padding-top: 10px;
}

nav .col-4:last-child {
    text-align: right;
}

#publishForm {
    background: #fff;
    padding: 0px;
    margin: auto;
    min-height: 50px;
    margin-top: 20px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#publishForm textarea {
    resize: none;
}

#publishForm h1 {
    font-size: 18px;
    margin-top: 20px;
}

#publishForm img {
    float: left;
    margin-right: 10px;
}

#publications {
    padding-bottom: 300px;
}

#publications img {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#publications .col-6 {
    padding: 0;
    margin-top: 20px;
}

#publications h1 {
    font-size: 18px;
    padding-top: 10px;
}